<div class="main-container">
  <h1>Your Bookbag</h1>
  
  {{#if this.length}}
    <table class="library-list">
      <tr>
        <td>{{this.title}} {{this.subtitle}}</td>
        <th>Checkout Date</th>
        <th>Due Date</th>
        <th>Owner</th>
      </tr>

      {{#each this}}
        <tr class="book-item">
          <td>{{this.title}}</td>
          <td>{{this.subtitle}}</td>
          <td>{{this.checkout_date}}</td>
          <td>{{this.due_date}}</td>
          <td>{{this.username}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <h3>You have no items in your Bookbag</h3>
  {{/if}}
</div>
