  {{#if this.length}}
    <table class="library-list">
      <tr>
        <th>Title</th>
        <th class="author">Author</th>
        <th class="pub-year">Publication Year</th>
        <th>Owner</th>
        <th></th>
      </tr>
    
      {{#each this}}
        <tr class="book-item available">
          <td>{{this.title}} {{this.subtitle}}</td>
          <td class="author">{{this.author}}</td>
          <td class="pub-year">{{this.publication_year}}</td>
          <td>{{this.username}}</td>
          {{#if book_status}}
            <td>Checked out</td>
          {{else}}
            <td><a href="/api/mw/checkout-book?book-id={{this.book_id}}">Checkout</a></td>
          {{/if}}
       </tr>  
      {{/each}}
    </table>
  {{else}}
    <h3>There are no books available</h3>
  {{/if}}
