<div class="main-container">
  <h1>Your Library</h1>

  <a href="/add-book" class="button button-light">Add Book</a>

  {{#if this.length}}
    <table class="library-list">
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Author</th>
        <th>Edition</th>
        <th>Publication Year</th>
      </tr>
    
      {{#each this}}
        <tr class="book-item">
          <td>{{this.title}} {{this.subtitle}}</td>
          <td>{{this.author}}</td>
          <td>{{this.edition}}</td>
          <td>{{this.publication_year}}</td>
          {{#if book_status}}
            <td><a href="/api/mw/return-book?book-id={{this.book_id}}">Return</a></td>
          {{else}}
            <td>Available</td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    <h3>You have no items in your Library</h3>
  {{/if}}
</div>
